{% extends 'usg/default-usg.html.twig' %}

{% block content %}
<div>
    <section class="left">
        {{page.content}}
    </section>
    <section class="right">
        <div>
            <h3>Références, ressources</h3>
            <div>
                <ul>
                    {% for ref in page.header.references %}
                    <li><a href="{{ref.url}}" target="_blank">{{ref.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <h3>Crédits</h3>
            {% for mention in page.header.credits %}
            <p>{{ mention }}</p>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}
{{page.header.footer}}
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script-usg19.js') %}
{% endblock %}
