{% extends 'blog/default-blog.html.twig' %}
{% block header %}

{% endblock %}

{% block content %}
{% for item in pages.find('/blog/publications/texts').collection %}
{% if item.url == page.url %}
<div class="hide data" data-type="{{ item.header.categories|join(',') }}">
</div>
{{ dump(item) }}
{{ dump(item.header.categories) }}
{% endif %}
{% endfor %}
<article class="one">
{{ page.content }}
</article>
<article class="two">
{{ page.header.illustrations|markdown }}
</article>

{% endblock %}

{% block footer %}
{{page.header.footer}}
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script-blog.js') %}
{% do assets.addJs('theme://js/text-blog.js') %}
{% endblock %}
