{% extends 'default.html.twig' %}

{% block content %}
<div>
    <section class="left">
        {{page.content}}
    </section>
    <section class="right">
        <div>
            <h3>{{ "ABOUT.SEE_ALSO"|t }}</h3>
            <div>
                <ul>
                    {% for friend in page.header.friends %}
                    <li><a href="{{friend.url}}" target="_blank">{{friend.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <h3>{{ "ABOUT.LICENSES"|t }}</h3>
            {{page.header.licences|markdown}}
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}
{{page.header.footer}}
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/about.js') %}
{% endblock %}
