{% extends 'blog-default.html.twig' %}
{% block content %}
<div id="list">
    <ul>
        <li><span class="project-list"  data-type="{{ page.header.categories|join(',') }}"  >
            <h1 class="item" tabindex="0">{{ page.title }}{% if page.header.subtitle is not empty %}, {{ page.header.subtitle }}{% endif %}</h1>
            <div id="details">
                <time datetime="{{ page.header.date|date('c') }}">
                    {{ [page.header.date|date('d'), 'MONTHS'|ta(page.header.date|date('n') -1), page.header.date|date('Y') ]|join(' ') }}
                </time>
            </div>
            <div class="content flex" tabindex="0">
                {% for med in page.media.all %}
                {% if med.items.type == 'image' and med.height >= med.width %}
                {{ med.html('', '', 'portrait') }}
                {% else %}
                {% if med.items.type == 'video' %}
                <video controls="1" alt=""><source src="{{ med.url }}">Your browser does not support the video tag.</video>
                {% else %}
                {{ med.html() }}
                {% endif %}
                {% endif %}
                {% set note = page.header.notes[loop.index0].text %}
                {% if note != ' ' %}
                <figcaption>{{ note }}</figcaption>
                {% endif %}
                {% endfor %}
                {{ page.content }}
            </div>
        </span></li>
    </ul>
</div>
{% endblock %}

{% block footer %}
{% set collection = page.collection %}
{% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
{% endif %}
<p class="title">Blog</p>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-post.js') %}
{% endblock %}
