{% extends 'blog-default.html.twig' %}
{% block content %}
<div id="pages-menu">
    <input type="button" value="Rechercher" aria-expanded="false" />
    <ul id="pages" class="hidden">
    {% for posts in page.children.order('dir', 'desc').batch(page.collection.params.limit) %}
    <li class="page">
        <button aria-expanded="false">Page&nbsp;{{ loop.index }}</button>
        <ul class="articles hidden">
            <a href="{{ page.url ~ '/page:' ~ loop.index }}" target="_blank">Tous les articles</a>
            {% for item in posts %}
            <li><a href="{{ item.url }}"  target="_blank">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
    </ul>
</div>

<div id="list">
    <ul>
        {% for item in page.collection %}
        <li><span class="project-list"  data-type="{{ item.header.categories|join(',') }}"  >
            <a href="javascript:void(0);" class="item">{{ item.title }}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}</a>
            <div class="details">
                <time datetime="{{ item.date|date('c') }}">
                    {{ [item.date|date('d'), 'MONTHS'|ta(item.date|date('n') -1), item.date|date('Y') ]|join(' ') }}
                </time>
                <a href="{{ item.url }}" target="_blank" class="external-link">🔗</a>
            </div>
            <div class="content hide">
                {% for med in item.media.all %}
                {% if med.items.type == 'image' and med.height >= med.width %}
                {{ med.html('', '', 'portrait') }}
                {% else %}
                {% if med.items.type == 'video' %}
                <video controls="1" alt=""><source src="{{ med.url }}">Your browser does not support the video tag.</video>
                {% else %}
                {{ med.html() }}
                {% endif %}
                {% endif %}
                {% set note = item.header.notes[loop.index0].text %}
                {% if note != ' ' %}
                <figcaption>{{ note }}</figcaption>
                {% endif %}
                {% endfor %}
                {{ item.content }}
            </div>
        </span></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
{% set collection = page.collection %}
{% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
{% endif %}
<p class="title">Blog</p>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-posts.js') %}
{% endblock %}
