{% extends 'blog-default.html.twig' %}

{% block content %}
<section class="reads">
    <div>
        <h1>Bibliographie</h1>
    </div>
    {% for read in page.header.books %}
        <h2>Design</h2>
        <ul>
            {% for design in read.design %}
                <li>
                    <p>{{ design.name }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Image</h2>
        <ul>
            {% for image in read.image %}
                <li>
                    <p>{{ image.name }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Revues, magazines</h2>
        <ul>
            {% for mag in read.magazine %}
                <li>
                    <p>{{ mag.name }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Catalogues d'expositions</h2>
        <ul>
            {% for cat in read.expo %}
                <li>
                    <p>{{ cat.name }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Essais féministes</h2>
        <ul>
            {% for fem in read.feminism %}
                <li>
                    <p>{{ fem.name }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Société</h2>
        <ul>
            {% for soc in read.society %}
                <li>
                    <p>{{ soc.name }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Romans, nouvelles</h2>
        <ul>
            {% for nov in read.novel %}
                <li>
                    <p>{{ nov.name }}</p>
                </li>
            {% endfor %}
        </ul>
        <h2>Bandes dessinées, romans graphiques</h2>
        <ul>
            {% for bd in read.bd %}
                <li>
                    <p>{{ bd.name }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <div>
        <h1>Filmographie</h1>
    </div>
    {% for watch in page.header.movies %}
        <h2>Séries télévisées</h2>
        <ul>
        {% for serie in watch.series %}
            <li>
                <p>{{ serie.name }}</p>
            </li>
        {% endfor %}
        </ul>
        <h2>Films, documentaires</h2>
        <ul>
        {% for film in watch.films %}
            <li>
                <p>{{ film.name }}</p>
            </li>
        {% endfor %}
        </ul>
        <h2>Films d'animation</h2>
        <ul>
        {% for anime in watch.animes %}
            <li>
                <p>{{ anime.name }}</p>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</section>
<section class="web">
    <div>
        <h1>Sitographie</h1>
    </div>
    {% for nav in page.header.web %}
        <h2>Actualités</h2>
        <ul>
        {% for new in nav.news %}
            <li>
                <a href="{{ new.url }}" target="_blank">{{ new.name }}</a>
            </li>
        {% endfor %}
        </ul>
        <h2>Expositions</h2>
        <ul>
        {% for expo in nav.expositions %}
            <li>
                <a href="{{ expo.url }}" target="_blank">{{ expo.name }}</a>
            </li>
        {% endfor %}
        </ul>
        <h2>Articles, Publications</h2>
        <ul>
            {% for art in nav.articles %}
                <li>
                    <a href="{{ art.url }}" target="_blank">{{ art.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Émissions, interviews, conférences, documentaires</h2>
        <ul>
            {% for show in nav.shows %}
                <li>
                    <a href="{{ show.url }}" target="_blank">{{ show.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Théorie</h2>
        <ul>
            {% for theo in nav.theory %}
                <li>
                    <a href="{{ theo.url }}" target="_blank">{{ theo.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Outils, Logiciels</h2>
        <ul>
            {% for tool in nav.tools %}
                <li>
                    <a href="{{ tool.url }}" target="_blank">{{ tool.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Typographie</h2>
        <ul>
            {% for typo in nav.typo %}
                <li>
                    <a href="{{ typo.url }}" target="_blank">{{ typo.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Édition</h2>
        <ul>
            {% for ed in nav.editions %}
                <li>
                    <a href="{{ ed.url }}" target="_blank">{{ ed.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Références</h2>
        <ul>
            {% for ref in nav.refs %}
                <li>
                    <a href="{{ ref.url }}" target="_blank">{{ ref.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>
{% endblock %}

{% block footer %}
{{page.header.footer}}
{% endblock %}

{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-ressources.js') %}
