{% extends 'blog-default.html.twig' %}
{% block content %}
<div id="list">
    <ul>
        {% for item in page.collection %}
        <li><span class="project-list"  data-type="{{ item.header.categories|join(',') }}"  >
            <a href="{{ item.url }}" class="item">{{ item.title }}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}
            </a>
            <time datetime="{{ item.date|date('c') }}">
                {{ [item.date|date('d'), 'MONTHS'|ta(item.date|date('n') -1), item.date|date('Y') ]|join(' ') }}
            </time>
            <div class="content hide">
                {% for med in item.media.all %}
                {% if med.items.type == 'image' and med.height >= med.width %}
                {{ med.html('', '', 'portrait') }}
                {% else %}
                {{ med.html() }}
                {% endif %}
                {% set note = item.header.notes[loop.index0].text %}
                {% if note != ' ' %}
                <figcaption>{{ note }}</figcaption>
                {% endif %}
                {% endfor %}
                {{ item.content }}
            </div>
        </span></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
{{page.header.footer}}
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/blog-script.js') %}
{% do assets.addJs('theme://js/blog-posts.js') %}
{% endblock %}
