{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/blog.css') %}
{% endblock %}

{% block page %}
<header class="menu-bar">
    <nav>
        <ul class="flex-line">
            {% for page in page.find('/blog').children.visible %}
            <li>
                <a href="{{ page.url }}" {% if page.active or page.activeChild %}class="selected" aria-current="page"{% endif %} >{{ page.title }}</a>
                {% if page.slug == 'publications' %}
                <ul id="select-page" class="hide">
                    {% for child in page.children.visible %}
                    <li>
                        <a href="{{ child.url }}">{{ child.header.used_title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
<div id="main-container">
    <aside class="menu-bar left">
        <ul class="flex-line">
            <li><a href="#" data-type="images"><span>Images</span></a></li>
            <li><a href="#" data-type="grrrls">♀</a></li>
            <li><a href="#" data-type="culture">Culture</a></li>
            <li><a href="#" data-type="society">Société</a></li>
            <li><a href="#" data-type="else">Autres</a></li>
        </ul>
    </aside>
    <main>
        <img id="dancing-banana" class='hide' src="{{ url('theme://images/pbjt.gif') }}">
        {% block content %}

        {% endblock %}
    </main>
    <aside class="menu-bar right">
        <ul class="flex-line">
            <li><a href=" {{ url('theme://docs/memoire.pdf') }}" target="_blank">{{ "MENU_RIGHT.MASTER_THESIS"|t }}</a></li>
        </ul>
    </aside>
</div>
<footer class="menu-bar flex-line">
{% block footer %}
<p>Blog</p>
{% endblock %}
</footer>

{% endblock %}
