{% extends 'partials/base.html.twig' %}

{% block page %}
<header class="menu-bar">
    <nav>
        <ul class="flex-line">
            {% for p in pages.children.visible %}
            <li>
                <a href="{{ p.url }}" {% if p.active or p.activeChild or (p.slug =='projects' and page.template=='text-collection') %}class="selected" aria-current="p"{% endif %} >{{ p.title }}</a>
                {% if p.slug == 'projects' %}
                <ul id="select-p" class="hide">
                    {% for child in p.children.visible %}
                    <li>
                        <a href="{{ child.url }}">{{ child.header.used_title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
<div id="main-container">
    <aside class="menu-bar left">
        <ul class="flex-line">
            <li><a href="#" data-type="graphics"><span>{{ "MENU_LEFT.GRAPHIC_DESIGN"|t }}</span></a></li>
            <li><a href="#" data-type="edition">{{ "MENU_LEFT.BOOK_DESIGN"|t }}</a></li>
            <li><a href="#" data-type="web">Web</a></li>
            <li><a href="#" data-type="install">Installation</a></li>
            <li><a href="#" data-type="research">{{ "MENU_LEFT.RESEARCH"|t }}</a></li>
        </ul>
    </aside>
    <main>
        <img id="dancing-banana" class='hide' src="{{ url('theme://images/pbjt.gif') }}">
        {% block content %}

        {% endblock %}
    </main>
    <aside class="menu-bar right">
        <ul class="flex-line">
            {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
            <li><a href=" {{ alt_locale == 'fr' ? url('theme://docs/cv_en.pdf') : url('theme://docs/cv.pdf') }}" target="_blank">CV</a></li>
            <li><a href=" {{ alt_locale == 'fr' ? url('theme://docs/book_en.pdf') : url('theme://docs/book.pdf') }}" target="_blank">Portfolio</a></li>
            <li><a href=" {{ url('theme://docs/memoire.pdf') }}" target="_blank">{{ "MENU_RIGHT.MASTER_THESIS"|t }}</a></li>
            <li><a href=" {{ url('/blog') }}" target="_blank">Blog</a></li>
        </ul>
        <!-- FIXME -->
        {% if '/home' in page.url %}
            <a href="{{ alt_locale == 'fr' ? page.url|replace({'/en': ''}) : '/home/' ~  alt_locale ~ page.url[5:] }}">{{ alt_locale }}</a>
        {% else %}
            <a href="{{ alt_locale == 'fr' ? page.url[3:] : '/' ~  alt_locale ~ page.url }}">{{ alt_locale }}</a>
        {% endif %}
    </aside>
</div>
<footer class="menu-bar flex-line">
{% block footer %}
<p>{{ "MENU_BOTTOM.PROJ"|t }}</p>
{% endblock %}
</footer>

{% endblock %}
