{% extends 'partials/base.html.twig' %}

{% block page %}
<header class="menu-bar">
    <nav>
        <ul class="flex-line">
            {% for page in pages.children.visible %}
            <li>
                <a href="{{ page.url }}" {% if page.active or page.activeChild %}class="selected" aria-current="page"{% endif %} >{{ page.title }}</a>
                {% if page.title == 'Projets' %}
                <ul id="select-page" class="hide">
                    {% for child in page.children.visible %}
                    <li>
                        <a href="{{ child.url }}">{{ child.header.used_title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
<div id="main-container">
    <aside class="menu-bar left">
        <ul class="flex-line">
            <li><a href="#" data-type="graphics"><span>Design graphique</span></a></li>
            <li><a href="#" data-type="edition">Édition</a></li>
            <li><a href="#" data-type="web">Web</a></li>
            <li><a href="#" data-type="install">Installation</a></li>
            <li><a href="#" data-type="research">Recherche</a></li>
        </ul>
    </aside>
    <main>
        <img id="dancing-banana" class='hide' src="{{ url('theme://images/pbjt.gif') }}">
        {% block content %}

        {% endblock %}
    </main>
    <aside class="menu-bar right">
        <ul class="flex-line">
            <li><a href=" {{ url('theme://docs/cv.pdf') }}" target="_blank">CV</a></li>
            <li><a href=" {{ url('theme://docs/book.pdf') }}" target="_blank">Portfolio</a></li>
            <li><a href=" {{ url('theme://docs/memoire.pdf') }}" target="_blank">Mémoire</a></li>
        </ul>
        {% set alt_locale = grav.language.getActive ? 'fr' : 'en' %}
        <a href="{{ alt_locale == 'fr' ? page.url[3:] : '/' ~ alt_locale ~ page.url }}">{{ alt_locale }}</a>
    </aside>
</div>
<footer class="menu-bar flex-line">
{% block footer %}
<p>Projets 2019 — 2015.</p>
{% endblock %}
</footer>

{% endblock %}
