{% extends 'default.html.twig' %}

{% block content %}
<div class="img-container">
{% for item in pages.find('/projects/content').collection %}
    <div class="project-list" data-type="{{ item.header.categories|join(',') }}">
        <a href="javascript:void(0);" aria-label='{{ item.title }}' data-url="{{ item.url }}" class="item" id="{{ item.slug }}">{{ item.media[item.header.picked_image].resize(500, auto) }}</a>
        <div class="hover-text">{{ item.summary }}</div>
    </div>
{% endfor %}
</div>

<div id="project-container">
    <article class="project yellow">
        <!-- content in json file -->
    </article>
    <header class="menu-bar">
        <nav>
            <ul>
                <li><a id="prev" href="#">{{ "PROJECT.PREV"|t }}</a></li>
                <li><a id="next" href="#">{{ "PROJECT.NEXT"|t }}</a></li>
            </ul>
        </nav>
    </header>
    <button href="#" id="cross" tabindex="0" aria-label="{{ "PROJECT.CLOSE"|t }}">✕</button>
    <aside class="menu-bar right" aria-hidden="true">
        <ul id="anchors" aria-hidden="true">
            <li><a href="" data-anchor="#img" class="selected" tabindex="-1">Images</a></li>
            <li><a href="" data-anchor="#txt" tabindex="-1">{{ "PROJECT.MENU_TXT"|t }}</a></li>
            <li><a href="" data-anchor="#links" tabindex="-1">{{ "PROJECT.MENU_LKS"|t }}</a></li>
        </ul>
    </aside>
    <footer class="menu-bar">
        <p></p>
    </footer>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/projects.js') %}
{% do assets.addJs('theme://js/image.js') %}
{% endblock %}
