{% set payload %}
<section id="img">
    {% for image in page.media.images %}
    {% if image.height >= image.width %}
    {{ image.html('', '', 'portrait') }}
    {% else %}
    {{ image.html() }}
    {% endif %}
    {% endfor %}
    {% for animated in page.media.files %}
    {{ animated.html() }}
    {% endfor %}
    {% for video in page.media.videos %}
    <video controls="1" alt=""><source src="{{ video.url }}">Your browser does not support the video tag.</video>
    {% endfor %}
</section>
    <section id="txt" tabindex="0">
        {{ page.content }}
    </section>
    <section id="links">
        {% for link in page.header.links %}
        <p tabindex="0">{{ link.info }}</p>
        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        {% endfor %}
    </section>
{% endset %}
{% set json = { 'content': payload, 'title': page.title, 'links': page.header.links, 'footer': page.header.footer } %}
{{ json|json_encode|raw }}
