{% extends 'default.html.twig' %}
{% block content %}
<div id="list">
    <ul>
        {% for item in pages.find('/projects/content').collection %}
        <li><span class="project-list {% if item.header.plusplusegal %}plusplusegal{% endif %}" data-type="{{ item.header.categories|join(',') }}">
            <a href="javascript:void(0);" aria-label="{{ item.title }}" data-url="{{ item.url }}" class="item" id="{{ item.slug }}">
                {% set img = item.media[item.header.picked_image] %}
                <!-- <img class="tooltip-img" src="{{ img.resize(img.height >= img.width ? 350 : 500, auto).url }}"/> -->
                <p>{{ loop.index }}</p>
                <span class="tooltip-text">{{ item.title }}{% if item.header.subtitle is not empty %}, {{ item.header.subtitle }}{% endif %}.</span>
                <span class="box"><div></div></span>
            </a>
        </span></li>
        {% endfor %}
    </ul>
</div>

<div id="project-container">
    <article class="project green">
        <!-- content in json file -->
    </article>
    <header class="menu-bar">
        <nav>
            <ul>
                <li><a id="prev" href="#">{{ "PROJECT.PREV"|t }}</a></li>
                <li><a id="next" href="#">{{ "PROJECT.NEXT"|t }}</a></li>
            </ul>
        </nav>
    </header>
    <button href="#" id="cross" tabindex="0" aria-label="{{ "PROJECT.CLOSE"|t }}">✕</button>
    <aside class="menu-bar right" aria-hidden="true">
        <ul id="anchors" tabindex="-1">
            <li><a href="" data-anchor="#img" class="selected" tabindex="-1">Images</a></li>
            <li><a href="" data-anchor="#txt" tabindex="-1">{{ "PROJECT.MENU_TXT"|t }}</a></li>
            <li><a href="" data-anchor="#links" tabindex="-1">{{ "PROJECT.MENU_LKS"|t }}</a></li>
        </ul>
    </aside>
    <footer class="menu-bar" aria-hidden="true">
        <p></p>
    </footer>
</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/projects.js') %}
{% do assets.addJs('theme://js/text.js') %}
{% endblock %}
